.section-header {
  background-color: #fff;
  /* border-bottom: 1px solid #e7e9fc; */
  /* box-shadow:
    0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08); */
}
.section-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0;
  padding-top: 0;
}
.header-logo {
  display: block;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33333;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 16px;
  padding-bottom: 16px;
}
.header-logo:hover,
.header-logo:focus {
  background-color: #2e2f42;
  color: #f4f4fd;
}
.logo-accent {
  color: #4d5ae5;
}

.header-nav-list {
  display: none;
}

.header-contacts-list {
  display: none;

  /* padding-left: 340px;
  display: flex;
  gap: 40px;
  justify-content: flex-end; */
}

.header-menu-button {
  border: none;
  background-color: transparent;
}
.header-menu-icon {
  fill: #2e2f42;
}
.header-menu-button:hover,
.header-menu-button:focus {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .container {
    border-bottom: 1px solid #e7e9fc;
    box-shadow:
      0 1px 6px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16),
      0 2px 1px 0 rgba(46, 47, 66, 0.08);
  }
  .header-nav {
    display: flex;
    align-items: center;
  }

  .header-nav-list {
    display: flex;
    gap: 40px;
    margin-left: 120px;
    /* flex-grow: 1; */
    /* justify-content: flex-start; */
    /* padding-left: 76px; */
  }

  .header-nav-item {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    /* padding-bottom: 24px; */
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-nav-active_item {
    position: relative;
    color: #404bbf;
  }
  .header-nav-active_item::after {
    position: absolute;
    bottom: 0;

    display: block;
    content: '';
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
  }
  .header-nav-item:hover,
  .header-nav-item:focus {
    color: #404bbf;
  }
  .header-nav-item:active {
    color: #404bbf;
    text-decoration: underline;
  }

  .header-contacts-list {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }

  .header-contacts {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-contacts:hover,
  .header-contacts:focus {
    color: #404bbf;
  }

  .header-menu-button {
    display: none;
  }
}

@media screen and (min-width: 1158px) {
  .header-nav-list {
    margin-left: 76px;
  }

  .header-contacts-list {
    display: flex;
    gap: 40px;
  }
  .header-contacts {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
