.mobmenu-overlay {
  position: fixed;
  inset: 0;
  background-color: #ffffff;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.mobmenu-overlay.is-open {
  pointer-events: auto;
  opacity: 1;
  visibility: visible;
}
.mobmenu {
  top: 0;
  left: 0;
  height: 100%;
  background-color: #ffffff;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 72px 24px 40px 16px;
}
.mob-list-menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mob-list-menu-item {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-list-menu-item:hover,
.mob-list-menu-item:focus {
  color: #404bbf;
}

.mobmenu-bottom {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.mob-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.mob-adress {
  font-style: normal;
}
.mob-contacts-list-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.accent-contact {
  color: #4d5ae5;
}
.mob-contacts-list-item:hover,
.mob-contacts-list-item:focus {
  color: #4d5ae5;
}
.mob_list_social {
  display: flex;
  gap: 40px;
}

@media screen and (min-width: 768px) {
  .mobmenu-overlay {
    display: none;
  }
}
